
<%= form_with(model: twitter, class:'col pr-0')  do |form| %>
  <% if twitter.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(twitter.errors.count, "error") %> prohibited this twitter from being saved:</h2>

      <ul>
        <% twitter.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :user_name, class:'form-control w-100 m-2' , style: "display: block" %>
    <%= form.text_field :user_name %>
  </div>

  <div>
    <%= form.label :description, class:'form-control w-100 m-2', placeholder:"What's happening?" %>
    <%= form.text_area :description %>
  </div>

  

  <div id="rightBtn">
    <%= form.submit  class:'btn rounded-bindle m-2' %>      
  </div>

<% end %>
                 







