
<%= form_with url: twitters_path, method: :get , class:'form-control mt-5' do |form|%>
    <%= form.label :query_text, "Buscar tweet por ID o USERNAME:", class:'w-100' %>
    <%= form.text_field :query_text, class:'w-100', value: params[:query_text]%>
    <%= form.button 'Buscar',  class:'btn rounded-bindle mt-2   ' %>
    <%= link_to new_twitter_path do %>
      <%= form.button 'New Tweet',  class:'btn rounded-bindle mt-2   ' %>
  <% end %>
<%end%>




<div id="twitters" class='scrollable-div'>
  <% @twitters.each do |twitter| %>
    <%= render twitter %>
  <% end %>
</div>

<%= raw pagy_nav(@pagy) %>






